vaadin-accordion-heading{
	
    font-size: var(--lumo-font-size-m);
    font-weight: 600;
	    color: 	#5d6069;
		font-size: 1.1em;
		border-bottom: 1px solid var(--lumo-contrast-10pct);
}

vaadin-accordion-panel {
    margin: 0 !important;
    padding: 0 !important;
}

vaadin-accordion {
    gap: 0 !important;
}

vaadin-tab {
	/* this makes the tab expand! otherwise it won't take the full height */
	/* background-color: #319800; */
	margin: 0 !important;
    padding: 0 !important;
	height: 100%;
	width:100%;
}


.c-accordion {
    margin: 0px;
    padding: 0px;
	height: 100%;
	width:100%;
}

.cpaneldetails {
    /*background-color:yellow;*/
    margin: 0px;
    padding: 0;
    gap: 0 !important;
    height: 100%;
    width:100%;
}

.c-accordion-content-layout{
	/*background-color:green;*/
	margin: 0px;
	padding: 0;
	gap: 0 !important;
	height: 100%;
	width:100%;
}
.cdetailsbuilder-form-layout{
    /*background-color:green;*/
    margin: 0px;
    padding: 0;
    gap: 0 !important;
    height: 100%;
    width:100%;
	align-items: stretch;

}



