.gantt-timeline-header {
  background: #f8f9fb;
  border: 2px solid #c5c9cf;
  border-radius: 4px;
  padding: 2px;
}

.gantt-time-marker {
  border-right: 1px solid #ddd;
  background-color: #f5f5f5;
}

.gantt-time-marker span {
  font-size: 9px;
  white-space: nowrap;
  display: inline-block;
  padding-left: 3px;
  line-height: 16px;
} 

.gantt-today-marker {
  z-index: 10;
  background-color: red;
}

.gantt-grid-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0; 
}

.gantt-grid-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ddd;
}

.gantt-timeline-control-button focused {
  outline: none;
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

.gantt-timeline-control-button {
  background-color: transparent;
  border: 0px solid #ccc;
  border-radius: 3px;
  --lumo-button-size: 22px;
  width: var(--lumo-button-size);
  height: var(--lumo-button-size);
  min-width: var(--lumo-button-size);
  min-height: var(--lumo-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  font-size: 10px;
}

.gantt-timeline-control-button vaadin-icon {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  line-height: 10px;
}

.gantt-timeline-controls {
  padding: 0px 2px;
  gap: 1px;
  min-height: 12px;
}

.gantt-timeline-scale-select {
  font-size: 9px;
  min-height: 18px;
  height: 18px;
  --lumo-field-size: 18px;
  --lumo-text-field-size: 18px;
}

.gantt-timeline-scale-select::part(input-field) {
  min-height: 18px;
  height: 18px;
  padding: 2px 4px;
  font-size: 9px;
}
.gantt-timeline-scale-select vaadin-select-value-button {
  font-size: 9px;
  padding: 1px 2px;
  min-height: 18px;
}

.gantt-timeline-scale-select vaadin-select-item {
  font-size: 9px;
  padding: 2px 4px;
  min-height: 20px;
}
.gantt-timeline-scale-select::part(value),
.gantt-timeline-scale-select::part(toggle-button),
.gantml-timeline-scale-select::part(label),
.gantt-timeline-scale-select::part(helper-text) {
  font-size: 9px;
  line-height: 1.2;
}

.gantt-timeline-scale-select::part(toggle-button) {
  padding: 0;
  width: 20px;
  min-width: 16px;
}

.gantt-timeline-scale-select::part(items) {
  font-size: 9px;
}

/* Override Vaadin's default dropdown item styling */
vaadin-select-overlay::part(overlay) {
  font-size: 9px;
}

vaadin-select-overlay vaadin-item {
  font-size: 9px !important;
  min-height: 20px;
  padding: 2px 8px;
}

.gantt-timeline-summary {
  font-size: 10px;
  line-height: var(--lumo-button-size);
  padding: 0 4px;
}

.gantt-timeline-row {
  min-height: 14px;
  height: 14px;
}

.gantt-timeline-marker {
  min-height: 14px;
  height: 14px;
  font-size: 9px;
  line-height: 14px;
  padding: 0 2px;
}
