.gantt-timeline-header {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}



/* WEEK LINES */
.gantt-timeline-header > div[title^="Week of"] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #dcdcdc;
    z-index: 1;
}

/* TODAY MARKER */
.gantt-today-marker {
    background-color: red !important;
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
}
