.gantt-timeline-header {
  background: #f8f9fb;
  border-bottom: 1px solid #ccc;
}

.gantt-time-marker {
  border-right: 1px solid #ddd;
  background-color: #f5f5f5;
}

.gantt-time-marker span {
  font-size: 10px;
  white-space: nowrap;
  display: inline-block;
  padding-left: 4px;
  line-height: 20px;
} 

.gantt-today-marker {
  z-index: 10;
  background-color: red;
}

.gantt-grid-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0; 
}

.gantt-grid-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ddd;
}

.gantt-timeline-control-button {
	background-color: #e7e7e7;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	height: 30px;
}
	
.gantt-timeline-controls{
}